@model AvtoMnenie.Models.SalosAreasModel

@{
    ViewBag.Title = "CreateArea";
    Layout = "~/Views/Admin/_LayoutAdminPage.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>CreateArea</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SalosAreasModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.About)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.About)
            @Html.ValidationMessageFor(model => model.About)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
